h1{
    font-size: xxx-large;
    text-align: center;
    font-weight: 900;
    color: #9676b4;
    
}

.footNav{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: #2d2d2dec;
}

.footNav:focus{
    color: #560465ec;
}